<div class="url-container">
    <section id="url-form" *ngIf="role != 'Unauthorized'">
        <form (submit)="onSubmit($event)">
            <div class="audi-style-input-div">
                <input #url="ngModel" type="text" appUrlValidator [(ngModel)]="originalUrl" class="audi-style-input" placeholder="URL" asp-for="Login" />
                <div *ngIf="url?.errors?.['invalidUrl']" style="color: red;">
                    Invalid URL.
                  </div>
                <label id="search-label" class="audi-style-label-input" for="URL">URL</label>
                <button type="button" class="clear" aria-label="Clear input">
                    <svg viewBox="0 0 16 16" width="12" height="12">
                        <path d="M 1 1 L 15 15 M 1 15 L 15 1" fill="none" stroke-width="2" stroke="currentColor" />
                    </svg>
                </button>
            </div>
            <button class="audi-style-button" type="submit">Shorten</button>
        </form>
    </section>
    
    <section class="url-table">
        <table>
            <thead>
                <tr>
                    <th>Short URL</th>
                    <th>Original URL</th>
                    <th *ngIf="role != 'Unauthorized'">
                        Tools
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shortUrl of shortUrls">
                    
                    <td><a [href]="shortUrl.shortenedUrl">{{ shortUrl.shortenedUrl }}</a></td>
                    <td><a [href]="shortUrl.originalUrl">{{ shortUrl.originalUrl }}</a></td>
                    <td *ngIf="role != 'Unauthorized'">
                        <button *ngIf="role == 'Admin' || shortUrl.createdBy == user_id" (click)="onDelete(shortUrl.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                        </button>
                        <button  (click)="onInfo(shortUrl.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                              </svg>
                        </button>
                    </td>
                </tr>
        </table>
    </section>
    
</div>